Enter your registration information:
<br> <br>
Username: <input type="text" id="username" [(ngModel)]="username"/> <br>
<br>
Password: <input type="password" id="password" [(ngModel)]="password"/> <br>
<br>
ID: <input type="text" id="user_id" [(ngModel)]="user_id"/> <br>
<br>
Email: <input type="text" id="email" [(ngModel)]="email"/> <br>
<br>
Age: <input type="text" id="age" [(ngModel)]="age"/> <br>
<br>
Name: <input type="text" id="name" [(ngModel)]="name"/> <br>
<br>

<button (click)="registerUser()">Register! </button> <br>