  <div class="center">

    Welcome to {{ userInfo.userName }}'s profile <br>

    User Info: <br>
    Name: {{ userInfo.name }} <br>
    Age: {{ userInfo.age }} <br>
    Email: {{ userInfo.email }} <br><br><br>

  </div>

<div class="center">

  <div class="left">
    YOUR RECIPES: <br><br>
      <div *ngFor="let userRecipe of userRecipes">
        {{ userRecipe.label }} <br>
        <button type="button" (click)="deleteRecipe(userRecipe.recipeId)" class="btn btn-primary btn-sm">Delete recipe</button>
        <button type="button" (click)="updateRecipe(userRrecipe)" class="btn btn-primary btn-sm">Edit recipe</button>  
      </div>
  </div>

  <div class="middle">
      YOUR SHOPPING LIST: <br><br>
        <div *ngFor="let a of shoppingCart">
          {{ a.ingredient }} <br>
        </div>
  </div>

  <div class="right">
    YOUR SEARCH HISTORY: <br><br>
    <div *ngFor="let historyRecipe of recipeHistory">
      {{ historyRecipe.label }}
    </div>

  </div>

</div>

    <br>
    <br>
    <br>