  Welcome to {{ userInfo.userName }}'s profile <br>

  User Info: <br>
  Name: {{ userInfo.name }} <br>
  Age: {{ userInfo.age }} <br>
  Email: {{ userInfo.email }} <br>

  USER RECIPES: <br>

  <div *ngFor="let recipe of userRecipes">

    {{ recipe.label }}.
    <button type="button" (click)="deleteRecipe(recipe.recipeId)" class="btn btn-primary btn-sm">Delete recipe</button> 
    <button type="button" (click)="updateRecipe(recipe)" class="btn btn-primary btn-sm">Edit recipe</button>

  </div> <br>
