Enter your recipe:
<br> <br>
Username: <input type="text" id="username" [(ngModel)]="username"/> <br>
<br>
Name: <input type="text" id="name" [(ngModel)]="name"/> <br>
<br>
Description: <input type="text" id="desc" [(ngModel)]="desc"/> <br>
<br>
How long does it take to make?: <input type="text" id="time" [(ngModel)]="time"/> <br>
<br>
How many servings does this make?: <input type="text" id="servings" [(ngModel)]="servings"/> <br>
<br>
How many calories?: <input type="text" id="calories" [(ngModel)]="calories"/> <br>
<br>
Do you have a picture link?: <input type="text" id="link" [(ngModel)]="link"/> <br>
<br>
Do you have a URL to locate this recipe?: <input type="text" id="url" [(ngModel)]="url"/> <br>
<br>
How much fat?: <input type="text" id="fat" [(ngModel)]="fat"/> <br>
<br>
How much sugar?: <input type="text" id="sugar" [(ngModel)]="sugar"/> <br>
<br>
How much protein?: <input type="text" id="protein" [(ngModel)]="protein"/> <br>
<br>
How much fiber?: <input type="text" id="fiber" [(ngModel)]="fiber"/> <br>
<br>
How much sodium?: <input type="text" id="sodium" [(ngModel)]="sodium"/> <br>
<br>
How much cholesterol?: <input type="text" id="chol" [(ngModel)]="chol"/> <br>
<br>
How many carbs?: <input type="text" id="carbs" [(ngModel)]="carbs"/> <br>
<br>
Ingredient: <input type="text" id="ingredient" [(ngModel)]="ingredient"/> <br>
<br>
Amount: <input type="text" id="amount" [(ngModel)]="amount"/> <br>
<br>


<button (click)="createRecipe()">Create your recipe!</button> <br>